#root,
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

.app {
  height: 100%;
  background: url("./images/cat.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding-right: 10%;
}

.card {
  width: 40%;
  height: 20%;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
}

.heading {
  display: flex;
  align-items: center;
  height: 580px;
  font-family: "Vollkorn", serif;
}

/* button */

.button {
  display: inline-block;
  background-color: whitesmoke;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 14px;
  padding: 14px 24px 14px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  transition: transform 200ms, background 200ms;
  color: #000000;
  box-shadow: 0 0 0 3px #000000 inset;
}
button:hover {
  transform: translateY(-2px);
}
/* button */

@media only screen and (max-width: 600px) {
  .app {
    background-position: 20%;
    align-items: end;
    color: whitesmoke;
    margin-bottom: 50px;
  }

  .card {
    width: 80%;
    height: 30%;

    margin-bottom: 60px;
  }
}
