#root,
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

.app {
  height: 100%;
  background: 
  /* linear-gradient(rgba(0, 0, 0, 0.3, rgba(0, 0, 0, 0.3))) */ url("./images/cat.png");
  background-size: cover;
  background-position: center;
  /* padding-top: 50px; */
  display: flex;
  /* justify-content: center; */
  justify-content: flex-end;
  align-items: center;
  /* align-items: flex-start; */
  text-align: center;
  padding-right: 10%;
}

.card {
  background-color: whitesmoke;
  width: 40%;
  height: 20%;
  /* background: none; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  /* padding: 1%; */
  box-shadow: 8px 8px;
}

.heading {
  display: flex;
  align-items: center;
  height: 580px;
  font-family: "Vollkorn", serif;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 80%;
    height: 30%;
  }
}
